<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="authority === 'admin' || authority === 'user'">
        <a class="nav-link" routerLink="music">Play Music</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item" *ngIf="!authority">
        <a class="nav-link" routerLink="/signin">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="!authority">
        <a class="nav-link" routerLink="/signup">Sign up</a>
      </li>
      <li class="nav-item" *ngIf="authority">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
