/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.signup-background {
  height: 100vh;
  background: linear-gradient(to right, #ff5722, #ff9800);
}

.player-background {
  height: 100%;
  background: linear-gradient(to right, #f3f8ff, #deecff);
}
.register-background {
  height: 100%;
  background: linear-gradient(to right, #ff5722, #ff9800);
}

.navbar-brand {
  background: url("assets/background/logo.png") no-repeat 50% 50%;
  background-size: 80px 78px;
  width: 100px;
  height: 60px;
  margin: 0 !important;
  padding: 0 !important;
}

.content {
  background-image: url("assets/background/hero.jpg");
  height: 30em;
}
